outputs/
data/

./outputs/neuman/baseline/seattle/checkpoints/epoch=0199-val_psnr=0.0.ckpt
./outputs/neuman/baseline/seattle/checkpoints/fit/epoch=0199-val_psnr=0.0.ckpt
./outputs/neuman/baseline/seattle/checkpoints/fit/last.ckpt
./outputs/neuman/baseline/seattle/checkpoints/last.ckpt
./outputs/peoplesnapshot/demo/male-3-casual/checkpoints/epoch=0029-val_psnr=0.0.ckpt
./outputs/peoplesnapshot/demo/male-3-casual/checkpoints/last.ckpt
./outputs/peoplesnapshot/baseline/male-3-casual/checkpoints/epoch=0049-val_psnr=0.0.ckpt
./outputs/peoplesnapshot/baseline/male-3-casual/checkpoints/refinement/epoch=0019-val_psnr=0.0.ckpt
./outputs/peoplesnapshot/baseline/male-3-casual/checkpoints/last.ckpt
./outputs/peoplesnapshot/baseline/male-3-casual/animation/given/given.gif
./outputs/andy/baseline/andy/checkpoints/epoch=0199-val_psnr=0.0.ckpt
./outputs/andy/baseline/andy/checkpoints/fit/epoch=0199-val_psnr=0.0.ckpt
./outputs/andy/baseline/andy/checkpoints/fit/last.ckpt
./outputs/andy/baseline/andy/checkpoints/last.ckpt
./outputs/andy/baseline/andy/tensorboard/default/version_0/events.out.tfevents.1720462327.uscnsl-exxact-server.124499.0
./outputs/andy/baseline/andy/tensorboard/fit/version_0/events.out.tfevents.1720460566.uscnsl-exxact-server.123540.0
./outputs/andy/baseline/andy/animation/given/given.gif
./outputs/andy/baseline/andy2/checkpoints/epoch=0199-val_psnr=0.0.ckpt
./outputs/andy/baseline/andy2/checkpoints/fit/epoch=0199-val_psnr=0.0.ckpt
./outputs/andy/baseline/andy2/checkpoints/fit/last.ckpt
./outputs/andy/baseline/andy2/checkpoints/last.ckpt
./outputs/andy/baseline/andy2/tensorboard/default/version_0/events.out.tfevents.1721514551.uscnsl-exxact-server.206892.0
./outputs/andy/baseline/andy2/tensorboard/fit/version_0/events.out.tfevents.1721509320.uscnsl-exxact-server.205933.0
./outputs/andy/baseline/andy2/animation/given_jpg/given.gif
./outputs/andy/baseline/andy2/animation/aist_demo_jpg/aist_demo.gif
./data/SMPLX/smpl/SMPL_MALE.pkl
./data/SMPLX/smpl/models/basicmodel_f_lbs_10_207_0_v1.1.0.pkl
./data/SMPLX/smpl/models/basicmodel_neutral_lbs_10_207_0_v1.1.0.pkl
./data/SMPLX/smpl/models/basicmodel_m_lbs_10_207_0_v1.1.0.pkl
./data/SMPLX/smpl/SMPL_FEMALE.pkl
./data/SMPLX/smpl/SMPL_NEUTRAL.pkl
./data/custom/andy2/video.mp4
./data/SMPL_python_v.1.1.0.zip
./data/smplx_models/smpl/SMPL_MALE.pkl
./data/smplx_models/smpl/SMPL_FEMALE.pkl
./data/smplx_models/smpl/SMPL_NEUTRAL.pkl
./data/smplx_models/models/basicmodel_f_lbs_10_207_0_v1.1.0.pkl
./data/smplx_models/models/basicmodel_neutral_lbs_10_207_0_v1.1.0.pkl
./data/smplx_models/models/basicmodel_m_lbs_10_207_0_v1.1.0.pkl
./data/smplx_models/smplx/smplx_npz.zip
./data/smplx_models/smplx/SMPLX_MALE.npz
./data/smplx_models/smplx/SMPLX_NEUTRAL.pkl
./data/smplx_models/smplx/SMPLX_NEUTRAL.npz
./data/smplx_models/smplx/SMPLX_FEMALE.pkl
./data/smplx_models/smplx/SMPLX_MALE.pkl
./data/smplx_models/smplx/SMPLX_FEMALE.npz
./media/neuman/lab-input.gif
